/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #DDD8C4;
}

.main-container {
  display: flex;                     /* Use Flexbox to arrange children side by side */
  justify-content: space-between;    /* Space between images and results */
  align-items: flex-start;           /* Align items at the start */
  margin-bottom: 20px;
  flex-direction: row;
  flex-wrap: wrap-reverse; 
  width: 100%;              
}
.main-container .minor-section {
    display: flex;                     /* Use Flexbox to arrange results and script output side by side */
    flex-direction: column;            /*Stack headers on top*/
    justify-content: flex-start;       /*Align items at the start*/
    width: 100%;                       
    flex-wrap: wrap;
    font-size: larger;
    
    #output{
      width: 50%;
      font-size: larger;
      
    }
    .output{
      width: 50%;
      border: 10px double darkblue;
      font-size: larger;
    }
}


.main-container .container {  
    display: flex ;
    justify-content: flex-start;
    flex-direction: row;
    width: 50%;
    align-items: center;
}

#dio{
        padding: 0px 0px;
        border: 10px double darkslateblue;
        box-sizing: border-box;
        width: 50%;
        height: 240px;
        object-fit: contain;
        margin-bottom: 20px;
        margin-top: 10px;
        img {
          height: 220px;
          width: 100%;
        }  
}   

#mine {
  padding: 0px 0px;
  border: 10px double darkslateblue;
  box-sizing: border-box;
  width: 50%;
  height: 240px;
  object-fit: contain;
  margin-bottom: 20px;
  margin-top: 10px;
  img {
    height: 220px;
    width: 100%;
  }  
}  
  
