/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }

#dio {
  padding: 0px 0px;
  margin: contain;
  border: 10px double black;
  box-sizing: border-box;
  box-decoration-break: slice;
  object-fit: cover;
  width: 26%;
  height: 25%;
  margin-bottom: -25px;
  float: inline-end;
}
/* img {
  overflow-clip-margin: padding-box ;
  overflow-x: 0;
  overflow-y: 0;
  overflow: hidden;
  al;
} */