/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }

.figure1.figure2.figure3 {
    padding: 5px;
    margin: contain;
    border: 5px solid black;
    object-fit: cover;
    max-width: 500px;
  }
  
figcaption {
    background-color: black;
    color: white;
    font-style: italic;
    padding: 2px;
    text-align: center;
  }
