/* Here we can set styles for this lab page that we don't want to effect others pages */



@font-face {
  font-family: Harry;
  src: url(harrypotter.ttf);
}
  
@font-face {  
  font-family: Magic1;
  src: url(magicschool1.ttf);
}

@font-face {  
  font-family: Magic2;
  src: url(magicschool2.ttf);
}


/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding: 0.2vw;
  margin-bottom: 0.2vw;
  border: solid 1px #888;
  background-color: #DDD8C4;
  font-family: 'Kings', serif ;
  font-size: 1vw;
  font-weight: bold;
  text-wrap: stable;
}

#hat{
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle; /* Optional: Aligns them vertically */
  width: 12vw;
  height: auto;
}

/* Styking the buttons and input field */
#inputs {
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Space out elements (photo on left, graphic on right) */
  padding: 0.1vw;
  width: 99%;
  height: 4vw;
  padding-bottom: 0.25vw;
}


/* submit button styling */
#submit{
  width: 20%;
  font-family: "Magic1", serif;
  font-optical-sizing: auto;
  font-weight: 2vw;
  font-size: 1.5vw;
  font-style: normal;
  color: maroon;
  height: auto;
  text-shadow: 0.25vw 0vw 0vw rgb(232, 246, 150), 0vw 0.05vw 0vw lightyellow, 0vw 0vw 0.15vw lightpink;
  background-image: linear-gradient(to right, brown, rgb(255, 145, 0), #ff0000, #fdcf58 100%);
  font-style: oblique;
  text-decoration-color: #3e8e41;
  border: 0.1vw double darkred;
  border-radius: 0.1vw;
  box-shadow: 0.2vw 0.2vw 0.2vw lightsalmon, 0.2vw 0.2vw 0.2vw rgba(252, 232, 59, 0.69);
  /* transition: 0.5s; */
  background-size: 200% auto;
  /* position: relative;
  left: 200px;
  right: auto; */
  text-wrap: balance;
  text-size-adjust: auto;
  text-overflow: ellipsis;
  align-self: flex-start;
}


#submit:hover {background-position: right center;}

#submit:active {
  background-color: olive;
  box-shadow: 0 0.05vw #666;
  transform: translateY(15px);
  text-align: center;
}

/* Text box styling */
#name{
  /* left: 15%; */
  text-align: center;
  font-size: 2vw;
  font-stretch: ultra-expanded;
  font-family: "Kings", serif;
  font-weight: 2vw;
  text-shadow: 0.2vw 0vw 0vw orange, 0vw 0.05vw 0vw lightyellow, 0vw 0vw 0.15vw lightpink;
  color: black;
  height: auto;
  width: 60%;
  background-color: rgba(234, 193, 71, 0.039);
  border: 0.5vw double maroon;
  box-shadow: 10vw 10vw 10vw rgba(255, 166, 0, 0.69), 10vw 10vw 10vw rgba(252, 232, 59, 0.69);
  align-self: flex-start;
}

/* bgm button styling */
#bgm{
  width: 15%;
  font-family: "Magic2", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 1.5vw;
  font-style: normal;
  color: maroon;
  height: auto;
  text-shadow: 0.25vw 0vw 0vw rgb(232, 246, 150), 0vw 0.05vw 0vw lightyellow, 0vw 0vw 0.15vw lightpink;
  background-image: linear-gradient(to right, brown 0%,orange 55%, lightseagreen 71%, orangered 100%);
  font-style: oblique;
  text-decoration-color: #3e8e41;
  border: 0.05vw double darkred;
  border-radius: 1vw;
  box-shadow: 0.2vw 0.2vw 0.2vw lightsalmon, 0.2vw 0.2vw 0.2vw rgba(252, 232, 59, 0.69);
  background-size: 200% auto;
  text-wrap: balance;
  overflow-wrap: break-word;
  align-self: flex-start;
}

#bgm:hover {background-position: right center;}

#bgm:active {
  background-color: olive;
  box-shadow: 0 0.2vw #666;
  transform: translateY(15px);
  text-align: center;
}


/* output result styling */
.text{
  font-size: 2vw;
  font-family: "Harry", serif;
  font-weight: 2vw;
  text-shadow: 0vw 0.02vw 0.10vw orange, 0vw 0.20vw 0vw turquoise, 0.35vw 0vw 0vw yellow ;
  color: rgb(65, 16, 16);
  text-align: center;
}


#input-output{
  width:100%;
  padding: 0.1vw;
  background-color: #DDD8C4 ;
  background-repeat: repeat;
  background-size: cover;
  color:black;
  height: auto; 
}

/* styling text before input field */
h3{
  font-family: Magic1, serif;
  font-size: 2vw;
  font-weight: 2vw;
  text-shadow: 0vw 0.2vw 0.8vw lightgreen, 0vw 0.26vw 0vw orange, 0.21vw 0vw 0vw lemonchiffon;
  color: rgba(95, 7, 7, 0.897);
  /* text-align: center; */
  display: inline-block;
  vertical-align: middle; /* Optional: Aligns them vertically */
  padding-inline-start: 20%;
}

/* styling the headings */
h2,h1{
  font-family: 'Almendra SC', 'Cinzel Decorative', serif;
  font-size: 2.5vw;
  text-shadow: 0.3vw 0vw 0vw orange, 0vw 0.15vw 0vw maroon, 0vw 0vw 0.15vw lightgoldenrodyellow;
}

/* styling the results in output */
#visual {
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Space out elements (photo on left, graphic on right) */
  padding: 0.1vw;
  background-color: rgba(139, 0, 0, 0.064); /* Optional: Light background to see spacing more clearly */
  width: 99.99%;
  height: 15vw;
  padding-bottom: 0.25vw;
  
}

#visual img:nth-child(2) {
  margin-left: 0.1vw; /* Slightly indent photo from the left */
  width: 55%;
  height: 15vw;
}

#visual img:nth-child(1) {
  margin-left: 0.01vw; /* Slightly indent photo from the left */
  width: 25%;
  height: 15vw;
}


#visual img:last-child {
  align-self: flex-end; /* Align the graphic to the right end */
  margin-left: 0.2vw; /* Pushes the graphic to the right side of the container */
  width: 20%; /* Optional: Limit size of the graphic if needed */
  /* border: #240404 5px solid; */
  margin-bottom: auto;
  margin-top: auto;
  margin-right: 0.1vw;
  height: 15vw;
}










