div{
    font-family: Georgia;
    font-size: xx-large;
    font-style: bold italic;
    color-scheme: rgb(210, 63, 156) ;
    color: rgb(255, 174, 127);
    background-color: aqua lemonchiffon;
    border: 10px blueviolet;
}
body{
    background-color: chartreuse;
    background-size: 15cm;
    border-radius: 10%;
}